<div class="search-results"></div>
<script id="results-template" type="text/x-handlebars-template">
  {{#each results}}
    <a class="search-result" target="_self" href={{link}}>
      <img class="search-result-poster" alt="poster" src={{poster}} />
      <div class="search-result-text">
        <span class="search-result-type">
          {{this.type}}
        </span>
        <span class="search-result-title">
          {{this.title}}
        </span>
        <span class="search-result-year">
          {{this.year}}
        </span>
      </div>
    </a>
  {{/each}}
</script>
